[Unit]
Description=RAS SPT Discord Bot
After=network.target
[Service]
Type=Simple
User=xaxen
WorkingDirectory=/home/xaxen/atlas-services/ras-spt-discord-bot
ExecStart=/home/xaxen/atlas-services/ras-spt-discord-bot/start.sh
Restart=on-failure
[Install]
WantedBy=multi-user.target
